@import '@utils/common';

.waiting-header {
  position: absolute;
  z-index: $z-index-layouts;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  transform: translateX(-50%);
}

.waiting-nickname-help {
  font-size: large;
  font-weight: 600;
  user-select: none;
}

.cursor-duck-wrapper {
  position: absolute;
}

.waiting-input-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.waiting-nickname-input {
  width: 16em;
  border: 0;
  margin: 0 1rem;
  background-color: $main-color;
  border-radius: 2em;
  box-shadow: $button-shadow;
  font-size: x-large;
  text-align: center;
}

.refresh-button {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  border-radius: 100%;
  box-shadow: $button-shadow;
  cursor: pointer;
  svg {
    width: 1.7rem;
    height: 1.7rem;
  }

  &.refresh-button-small {
    width: 2rem;
    height: 2rem;
  }
}

.color-button-wrapper {
  position: relative;
}

.color-button-wrapper:not(:hover) .color-picker-wrapper {
  display: none;
}

.color-picker-wrapper {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px $black-color solid;
  background-color: $white-color;

  div {
    display: flex;
  }
}

.color-sample-button {
  flex: 20%;
  border: 0.2rem $gray-color outset;
  border-radius: 0.4rem;
}
.color-sample-button::before {
  display: block;
  padding-top: 100%;
  content: '';
}

.waiting-color-input {
  padding: 0.5em;
  border: 1px $black-color solid;
  margin-left: 1em;
}

.color-sample-grid {
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.waiting-action-wrapper {
  position: absolute;
  z-index: $z-index-layouts;
  top: 50%;
  right: 1rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  > * {
    margin: 0.5em 0;
  }
}

.waiting-game-code-wrapper {
  position: absolute;
  z-index: $z-index-layouts;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  overflow: visible;
  flex-direction: row;
  align-items: center;
  font-size: x-large;
  > * {
    margin: 0 0.5rem;
  }
}

.waiting-code-icon {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  border-radius: 100%;
  box-shadow: $button-shadow;
  cursor: pointer;
}

.waiting-text-all-ready {
  position: absolute;
  z-index: $z-index-layouts;
  top: 70%;
  left: 50%;
  font-size: xx-large;
  font-weight: bolder;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
