@import '@utils/variable';

.player-waiting-helper-text {
  @include helper-text-white-background;
  @include absolute-center-x;
  z-index: $z-index-layouts;
  top: 40%;
  font-size: x-large;
  text-align: center;
  white-space: nowrap;
}
