.notify-teller {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  transform: translate(-50%, -50%);
  &.other {
    top: 60%;
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
