@import '../utils/common';

$left-size: 200px;
$right-size: 330px;

$z-index-tab: 10;
$z-index-modal: 5;
$z-index-progress-bar: 30;

.game-layout {
  display: flex;

  .left-tab {
    z-index: $z-index-tab;
    display: flex;
    overflow: auto;
    height: 100vh;
    flex-basis: $left-size;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1.3rem 1rem;
    border-right: 1px solid $gray-color;
    background-color: $white-color;
  }

  .right-tab {
    z-index: $z-index-tab;
    display: flex;
    height: 100vh;
    flex-basis: $right-size;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: auto;
    background-color: $white-color;
  }

  .main {
    position: relative;
    width: 100%;
  }
}

// WAITING ROOM

.progress-bar-wrapper {
  position: absolute;
  z-index: $z-index-progress-bar;
  top: 0;
  display: flex;
  width: 100%;
  height: 1.5rem;
  background-color: $gray-color;
  .progress-bar {
    position: relative;
    width: 100%;
    background-color: $progress-color;
    transition: width 1s;
  }
}

.time-text {
  padding: 0.5rem;
  color: $white-color;
  line-height: 1.5rem;
}

// RIGHT - TAB

.chat-message-log {
  flex-grow: 1;
  background-color: #eee;
  overflow-y: scroll;
}

.chat-input {
  flex-grow: 1;
  background-color: $white-color;
}

.chat-form {
  display: flex;
  margin: 0.5rem;
}

.chat-other-player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem 2rem 0.5rem 1rem;

  .chat-message {
    background-color: $white-color;
  }
}

.chat-mine {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.5rem 1rem 0.5rem 2rem;

  .chat-message {
    background-color: $main-color;
  }
}

.chat-nickname {
  padding-bottom: 0.5em;
}

.chat-message {
  padding: 0.5em 0.6em;
  border-radius: 0.5em;
  font-size: medium;
  word-break: break-word;
}

.chat-send-button {
  padding: 0.5em !important;
}

// Modal

.modal {
  position: absolute;
  z-index: $z-index-modal;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px) brightness(70%);
  transition: opacity 0.5s ease-in;
}

@mixin modal-mixin {
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal-title {
  @include modal-mixin;
  top: 13%;
  left: 50%;
  color: $white-color;
  font-size: 2.3rem;
  font-weight: 700;
  user-select: none;
}

.modal-card {
  @include modal-mixin;
  top: 43%;
  left: 50%;
}

.modal-ok-button {
  @include button;
  @include modal-mixin;
  top: 90%;
  left: 40%;
  background-color: $main-color;
}

.modal-cancel-button {
  @include button;
  @include modal-mixin;
  top: 90%;
  left: 60%;
  background-color: $gray-color;
}

.modal-input {
  @include modal-mixin;
  top: 75%;
  left: 50%;
  width: 16em;
  padding: 1em;
  border: 0;
  background-color: $main-color;
  border-radius: 2em;
  box-shadow: $button-shadow;
  font-size: x-large;
  text-align: center;
}
