@import '../utils/common';

.left-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .left-title-text {
    margin-right: 5px;
    font-size: larger;
    font-weight: 800;
  }
  .left-title-number {
    display: flex;
    width: 1.6rem;
    height: 1.6rem;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    border-radius: 100%;
  }
}

.microphone-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-top: auto;
  background-color: $green-color;
  cursor: pointer;
  font-weight: 700;
}

.participants-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.left-duck-wrapper {
  width: 100%;
  height: 14%;
  margin-bottom: 15%;
  text-align: center;
  .duck-nickname {
    font-weight: 600;
    line-height: 10%;
  }
}

.duck-image {
  position: relative;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  .duck-score {
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 0.3rem 0.5rem;
    background-color: $gray-color;
    border-radius: 1rem;
  }

  .duck-hat {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}
