@import '@utils/common';

.discussion-helper-text {
  @include helper-text-white-background;
  position: absolute;
  z-index: $z-index-layouts;
  top: 10%;
  left: 50%;
  font-size: x-large;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
}
.discussion-action-wrapper {
  position: absolute;
  z-index: $z-index-layouts;
  top: 95%;
  right: 1rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  > * {
    margin: 0.5em 0;
  }
}
.skip-button {
  @include button;
  background-color: $main-color;
}
.skip-button-clicked {
  @include button;
  background-color: $main-clicked-color;
  font-weight: 600;
  opacity: 0.5;
}
