@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

html,
body,
input,
label,
button {
  all: unset;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
button:not(:disabled) {
  cursor: pointer;
}

$z-index-tab: 10;
$z-index-layouts: 4;
$z-index-modal: 5;
$z-index-progress-bar: 30;

$main-color: #ffd600;
$main-clicked-color: #ffab00;
$white-color: #fff;
$gray-color: #ddd;
$red-color: #ff2617;
$progress-color: #d82e21;
$green-color: #3ed78d;
$button-shadow: 1px 8px 9px rgba(0, 0, 0, 0.1);

$glow-color-gold: 0 0 36px 5px rgba(235, 222, 76, 1);

html {
  font-family: 'NanumSquare', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hide {
  display: none;
}

.movable {
  position: absolute;
}

@mixin helper-text-white-background {
  padding: 0.5em;
  background-color: #fffa;
  border-radius: 1em;
  box-shadow: 0 0 4em 1em $white-color;
}

@mixin button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  border-radius: 2em;
  box-shadow: $button-shadow;
  font-size: large;
  text-align: center;
}
.button-primary {
  @include button;
  background-color: $main-color;
}
.button-primary-clicked {
  @include button;
  background-color: $main-clicked-color;
  font-weight: 600;
}

.button-cancel {
  @include button;
  background-color: $gray-color;
}

.card-wrapper {
  position: absolute;
  // card size를 %로 지정하거나 media-query를 이용해 화면 width에 따라 다른 지정 사이즈를 잡는게 좋아보여요
  width: 240px;
  height: 370px;
  border-radius: 1em;
  img {
    border-radius: 1em;
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-common {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card-glow-gold {
  box-shadow: $glow-color-gold;
}

@mixin card-glow-hover {
  transition: box-shadow 0.5s ease;
}

.card-glow-gold-hover {
  @include card-glow-hover;
  &:hover {
    box-shadow: $glow-color-gold;
  }
}
